@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scrollbar-gutter: stable;
}

*::selection {
  background: #526e78;
  color: #EFF4F7;
}

.faq-answer a {
    text-decoration: underline;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Remove vertical line on <TokenSelector /> */
span.css-1u9des2-indicatorSeparator {
  display: none;
}

/* Pretty Scrollbar */
*::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

*::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  height: 30px;
  border: 4px solid transparent;
  background-clip: padding-box;
  background-color: rgba(82, 110, 120, 0.1);
  -webkit-border-radius: 7px;
}