@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scrollbar-gutter: stable;
}

*::selection {
  background: #526e78;
  color: #EFF4F7;
}

.faq-answer a {
    text-decoration: underline;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Remove vertical line on <TokenSelector /> */
span.css-1u9des2-indicatorSeparator {
  display: none;
}

/* Pretty Scrollbar */
*::-webkit-scrollbar {
  width: 12px;
}
 
*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background: #526e78;
border-radius: 1rem;
border: 3px solid #EFF4F7;
}

@media (prefers-color-scheme: dark) {
  .dark ::-webkit-scrollbar-thumb {
    background: #526e78;
    border-radius: 1rem;
    border: 3px solid #18181b;
  }
}

.dark *::-webkit-scrollbar-thumb {
  background: #526e78;
  border-radius: 1rem;
  border: 3px solid #18181b;
}